<h1>Login</h1>
<% if flash[:notice] %>
<h2><%= flash[:notice]%></h2>
<%end %>
<%= form_for :user, :url => {:action => "create", :id => @user} do |f|%>
<label>Username:</label>
<%=f.text_field :username%><br>

<label>Password:</label>
<%=f.password_field :password%><br>

<%=f.submit "submit"%>
<%end%>