<%if @story%>
<div class="container mt-4">
    <div class="row"> 
        <div class="col-md-8 center">  
        <%@jobs.each do |job|%>                  
            <div class="card img-fluid mb-4" style="width: 45rem; height: 40rem;">
            <%=image_tag('story.jpeg', class: "card-img-bottom", width: "100%", height: "50%")%>  
                <%=image_tag('white_allegiance', class: "card-img-overlay", width: "100%", height: "50%")%>  
                <div class="card-body">
                    <h2 class="card-title"style="font-family: 'sans-serif';"><%=job.title%></h2>
                    <p class="card-text" style="font-family: 'sans-serif';">Requirement: Level <%=job.requirement%></p>
                    <%if @current_user.allegience == "Civilian" && (job.id == 1 || job.id == 2)%>
                        <%=link_to "Read More →", job_path(job), class: "btn btn-secondary"%>
                    <%elsif @current_user.allegience == "Hero"%>
                        <%if @hero_acceptance = Acceptance.find_by(job_response_id: job.id, responder_id: @current_user.id, heroization_id: @heroization.id)%>
                            <p style="font-family: 'sans-serif';">Completed!</p>
                        <%else%>
                            <%@hero = Hero.find_by(name: @current_user.alter_ego)%>
                            <%@heroization = Heroization.find_by(user_id: @current_user.id, hero_id: @hero.id)%>
                            <%if @heroization.hero_level >= job.requirement%>
                                <%=link_to "Read More →", job_path(job), class: "btn btn-primary"%>
                            <%end%>
                        <%end%> 
                    <%elsif @current_user.allegience == "Villain"%>
                        <%if @villain_acceptance = Acceptance.find_by(job_response_id: job.id, responder_id: @current_user.id, villainization_id: @villainization.id)%>
                            <p style="font-family: 'sans-serif';">Completed!</p>
                        <%else%>
                            <%@villain = Villain.find_by(name: @current_user.alter_ego)%>
                            <%@villainization = Villainization.find_by(user_id: @current_user.id, villain_id: @villain.id)%>
                            <%if @villainization.villain_level >= job.requirement%>
                                <%=link_to "Read More →", job_path(job), class: "btn btn-danger"%>
                            <%end%>
                        <%end%> 
                    <%end%>

                </div>
                <div class="card-footer text-muted">
                    Allegiance
                </div>
            </div>
            <%end%>
        </div>

<%else %>
<div class="container mt-4">
            <div class="row"> 
                <div class="col-md-8">  
                <%@jobs.each do |job|%>                  
                    <div class="card img-fluid mb-4" style="width: 45rem; height: 40rem;">
                    <%=image_tag('brick', class: "card-img-bottom", width: "100%", height: "50%")%>  
                     <%=image_tag('help', class: "card-img-overlay", width: "100%", height: "50%")%>  
                        <div class="card-body">
                            <h2 class="card-title"style="font-family: 'sans-serif';"><%=job.title%></h2>
                            <p class="card-text" style="font-family: 'sans-serif';">Requirement: Level <%=job.requirement%></p>
                            <%if @current_user.allegience == "Civilian"%>
                              <%=link_to "Read More →", job_path(job), class: "btn btn-secondary"%>
                            <%elsif @current_user.allegience == "Hero"%>
                                <%if @hero_acceptance = Acceptance.find_by(job_response_id: job.id, responder_id: @current_user.id, heroization_id: @heroization.id)%>
                                    <p style="font-family: 'sans-serif';">Completed!</p>
                                <%else%>
                                    <%=link_to "Read More →", job_path(job), class: "btn btn-primary"%>
                                <%end%> 
                            <%elsif @current_user.allegience == "Villain"%>
                                <%if @villain_acceptance = Acceptance.find_by(job_response_id: job.id, responder_id: @current_user.id, villainization_id: @villainization.id)%>
                                    <p style="font-family: 'sans-serif';">Completed!</p>
                                <%else%>
                                    <%=link_to "Read More →", job_path(job), class: "btn btn-danger"%>
                                <%end%> 
                            <%end%>

                        </div>
                        <div class="card-footer text-muted">
                            Posted by
                            <%=link_to job.requestor_user.username, user_path(job.requestor_user, job.requestor_user.civilian), class:"btn btn-light", style:"font-family: 'sans-serif'"%>
                        </div>
                    </div>
                    <%end%>
                </div>
              
                <div class="col-md-4 Fixed">
                    <div class="card my-2">
                        <h5 class="card-header"  style="text-align: center">Side Missions</h5>
                        <div class="card-body">
                            <div class="row">
                            <%if @current_user.allegience == "Civilian"%>
                            <div class="col-md-5">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "1", jobs_path(1), class: "btn btn-sm btn-secondary mt-2"%></li>
                                        <li><%= link_to "2", jobs_path(2), class: "btn btn-sm btn-secondary mt-2"%></li>
                                        <li><%= link_to "3", jobs_path(3), class: "btn btn-sm btn-secondary mt-2"%></li>
                                    </ul>
                                </div>
                                <div class="col-md-5">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "4", jobs_path(4), class: "btn btn-sm btn-secondary mt-2"%></li>
                                        <li><%= link_to "5", jobs_path(5), class: "btn btn-sm btn-secondary mt-2"%></li>
                                        <li><%= link_to "6", jobs_path(6), class: "btn btn-sm btn-secondary mt-2"%></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "7", jobs_path(7), class: "btn btn-sm btn-secondary mt-2"%></li>
                                        <li><%= link_to "8", jobs_path(8), class: "btn btn-sm btn-secondary mt-2"%></li>
                                        <li><%= link_to "9", jobs_path(9), class: "btn btn-sm btn-secondary mt-2"%></li>
                                    </ul>
                                </div>
                            <%elsif @current_user.allegience == "Hero"%>
                            <div class="col-md-5">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "1", jobs_path(1), class: "btn btn-sm btn-primary mt-2"%></li>
                                        <li><%= link_to "2", jobs_path(2), class: "btn btn-sm btn-primary mt-2"%></li>
                                        <li><%= link_to "3", jobs_path(3), class: "btn btn-sm btn-primary mt-2"%></li>
                                    </ul>
                                </div>
                                <div class="col-md-5">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "4", jobs_path(4), class: "btn btn-sm btn-primary mt-2"%></li>
                                        <li><%= link_to "5", jobs_path(5), class: "btn btn-sm btn-primary mt-2"%></li>
                                        <li><%= link_to "6", jobs_path(6), class: "btn btn-sm btn-primary mt-2"%></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "7", jobs_path(7), class: "btn btn-sm btn-primary mt-2"%></li>
                                        <li><%= link_to "8", jobs_path(8), class: "btn btn-sm btn-primary mt-2"%></li>
                                        <li><%= link_to "9", jobs_path(9), class: "btn btn-sm btn-primary mt-2"%></li>
                                    </ul>
                                </div>
                            <%elsif @current_user.allegience == "Villain"%>
                            <div class="col-md-5">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "1", jobs_path(1), class: "btn btn-sm btn-danger mt-2"%></li>
                                        <li><%= link_to "2", jobs_path(2), class: "btn btn-sm btn-danger mt-2"%></li>
                                        <li><%= link_to "3", jobs_path(3), class: "btn btn-sm btn-danger mt-2"%></li>
                                    </ul>
                                </div>
                                <div class="col-md-5">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "4", jobs_path(4), class: "btn btn-sm btn-danger mt-2"%></li>
                                        <li><%= link_to "5", jobs_path(5), class: "btn btn-sm btn-danger mt-2"%></li>
                                        <li><%= link_to "6", jobs_path(6), class: "btn btn-sm btn-danger mt-2"%></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to "7", jobs_path(7), class: "btn btn-sm btn-danger mt-2"%></li>
                                        <li><%= link_to "8", jobs_path(8), class: "btn btn-sm btn-danger mt-2"%></li>
                                        <li><%= link_to "9", jobs_path(9), class: "btn btn-sm btn-danger mt-2"%></li>
                                    </ul>
                                </div>
                            <%end%>
                                
                            </div>
                        </div>
                    </div>
  
                    <div class="card my-4" style="text-align: center">
                        <h5 class="card-header" style="bold">Mission Board</h5>
                        <%if @current_user.allegience == "Civilian"%>
                        <div class="card-body"><%=link_to "Post a Mission", new_user_job_path(@current_user.id), class: "btn btn-secondary"%><br>
                        <%=link_to "My Missions", user_jobs_path(@current_user.id), class: "btn btn-secondary mt-3"%></div>

                        <%else%>
                        <div class="card-body">Civilian Use Only</div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
<%end%>
