<% if @job.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@job.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 



<%=form_for(@job) do |f|%>

<%=f.label "Title"%>
<%=f.text_field :title%>

<%=f.label "Description"%>
<%=f.text_field :description%>

<%=f.label "Requirement"%>
<%=f.text_field :requirement%>

<%=f.label "Reward"%>
<%=f.text_field :reward%>

<%=f.submit "submit"%>

<%end%>
