<div class="mt-4">
<% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |msg| %>
      <p class="card-text" style="text-align: center"> <%= msg %></p><br>
    <% end %>
    <%end%>
<%=form_for(@job) do |f|%>
</div>
<div class="card invisible mt-5" style = "background: transparent;  margin-left: auto;
    margin-right: auto; width: 50%; height: 80%;">
<%=image_tag("scroll2.png", class:"card-img center visible")%>
<div class="card-img-overlay visible center middle mt-2" style="margin: auto">
    <h5 class="card-body"></h5>
    <p class="card-text mt-5">Title <%=f.text_field :title, style: "background: transparent;"%></p>
     <p class="card-text"> Level <%=f.select :requirement, Job::LEVELS, style: "background: transparent;"%></p>
    <p class="card-text"> Description <%=f.text_field :description, style: "background: transparent;"%></p>
    <p class="card-text">Reward <%=f.select :reward, Job::REWARDS, style: "background: transparent;"%></p>
    <p class="card-text"><%=f.submit "submit", class: "btn btn-lg"%></p>
  </div>
</div>
<%end%>
