<h1><%=@job.title%> lvl. <%=@job.requirement%></h1>
<h2>Requested by: <%= link_to @job.requestor_user.username, user_path(@job.requestor_user)%>

<h3><%=@job.description%></h3>
<h3>Reward: <%=@job.reward%>points</h3>

<%if @acceptance%>
<h2>Completed!</h2>
<%elsif @current_user.allegience == "Civilian"%>
<h2>Powered Only!</h2>
<%else%>
<%= form_for(@job) do |f| %>
    <%= f.submit "Accept Job" %>
<% end %>
<%end%>
