
    <div class="container mt-5">
        <div class="chat">
            <div class="chat-header">
                <div class="profile-hero">
                    <%=image_tag(@heroization_faction.owner.hero.avatar.to_s, class:"pp-hero mb-2")%>
                    <%if @heroization_faction.owner_id == @heroization.id%></span>
                        <span style="left:300px; opacity: 100;"><%=link_to "Requests", heroization_faction_requests_path(@heroization_faction), class:"btn btn-sm btn-primary"%>
                    <%elsif @heroization_faction.owner_id != @heroization.id && !@heroization_faction_request%>
                        <%= form_for(@heroization_faction) do |f| %>
                            <span style="left:300px; top:35px;"><%= f.submit "Join", class:"btn btn-sm btn-light" %></span>
                        <% end %>
                    <%end%>
                </div>
            </div>  
                <%if @heroization_faction_request && @heroization_faction_request.accepted == false%>
                <h2 class="center">Pending...</h2>
                <%elsif @heroization_faction_request && @heroization_faction_request.accepted == true || @heroization_faction.owner_id == @heroization.id%>
            <div class="chat-box">
            <%@heroization_faction.hero_comments.order(id: :asc).each do |comment|%>
            <%if comment.heroization.id == @heroization.id%>
                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r" style="background:#9fcbf5; color:white">
                        <p>
                        <%=comment.body%>
                        </p>
                        <div class="check">
                        <span style= "color:white"> <%=comment.heroization.hero.name%></span>
                        </div>
                    </div>
                </div>
            <%else%>
                <div class="chat-l">
                    <div class="mess">
                        <p>
                            <%=comment.body%>
                        </p>
                        <div class="check">
                            <span><%=comment.heroization.hero.name%></span>
                        </div>
                    </div>
                    <div class="sp"></div>
                </div>
                <%end%>
                <%end%>
                </div>
            <div class="chat-footer">
                <%=form_for @hero_comment, :action => "post" do |f|%>
                    <%=f.text_area :body, placeholder: "Type a message"%>
                    <%=f.hidden_field :heroization_faction_id, value: @heroization_faction.id%>
                    <%=f.hidden_field :heroization_id, value: @heroization.id%>
                    <%=f.submit "Send", class: "icons btn btn-sm btn-primary"%>
                <%end%>
            </div>
            <%end%>
            </div>
        </div>
    </div>
