  <body class="text-center">
    <div class="cover-container absoluted-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
      <%=link_to image_tag('logo_transparent_background.png', class: "mt-4 mb-4", height: "150"), root_path%>
      </header>

      <main role="main" class="inner cover">
           <div class="text-center">
    <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
    <%end%>
    <%= form_for(@user, html: {class: "row g-3"}) do |f|%>
    <%=render 'form', f: f%>
    <div class="row-sm mb-3">
    <%= f.label "Confirm Password", class: "form-label"%>
    <%=f.password_field :password_confirmation, class: "form-control"%>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-md btn-secondary">Sign Up</button>
  </div>
<%end%>
    </div>
      </main>
  
    </div>



