<!DOCTYPE html>
<html>
  <head>
    <title>Allegience</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <nav>
    <%=link_to "Allegience", '/'%>
    <% if session[:current_user_id] %> 
    <%=link_to "Side Missions", jobs_path%> <%=link_to "Log Out", logout_path%>
    <%=link_to(avatar_for(@current_user, size: 35), user_path(@current_user))%>
  </nav>
  <%else%>

  <%end%>
    <%= yield %>
  </body>
</html>
