<!DOCTYPE html>
<html>
  <head>
    <title>Allegience</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if session[:current_user_id] %>
  <nav>
    You are logged in as: <%= @current_user.username%><br>
    <%=link_to "logout", logout_path%>
  </nav>
  <%else%>

  <%end%>
    <%= yield %>
  </body>
</html>
